<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form method="post" action="">
    {% csrf_token %}


    <tr>
        <th><label for="id_Name">Name:</label></th>
        <td><input id="id_Name" maxlength="50" name="Name" type="text"/></td>
    </tr>


    <tr>
        <th><label for="id_Lastname">Lastname:</label></th>
        <td><input id="id_Lastname" maxlength="50" name="Lastname" type="text"/></td>
    </tr>

    <input type="submit" value="Save!"/>
</form>

</body>
</html>